# POSTTEST 4 - Modul Data Preprocessing
##### Nama : Jorghi Inzaghi Tanson
##### NIM : 2009106069

#### Import Library yang digunakan

In [249]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

#### Ubah dataset yang diunduh ke dalam bentuk dataframe dan tampilkan isinya

In [250]:
dFrame = pd.read_csv('heart.csv')
dFrame

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289.0,0,Normal,172,N,0.0,Up,No
1,49,F,NAP,160,180.0,0,Normal,156,N,1.0,Flat,Yes
2,37,M,ATA,130,283.0,0,ST,98,N,0.0,Up,No
3,48,F,ASY,138,214.0,0,Normal,108,Y,1.5,Flat,Yes
4,54,M,NAP,150,195.0,0,Normal,122,N,0.0,Up,No
...,...,...,...,...,...,...,...,...,...,...,...,...
920,45,M,TA,110,NaN,0,Normal,132,N,1.2,Flat,Yes
921,68,M,ASY,144,193.0,1,Normal,141,N,NaN,Flat,Yes
922,57,M,NaN,130,NaN,0,Normal,115,Y,NaN,NaN,Yes
923,57,F,ATA,130,236.0,0,LVH,174,N,0.0,Flat,Yes
924,38,M,NAP,138,175.0,0,Normal,173,N,0.0,Up,No

#### Tampilkan informasi dari dataframe

In [251]:
dFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             925 non-null    int64
 1   Sex             925 non-null    object
 2   ChestPainType   923 non-null    object
 3   RestingBP       925 non-null    int64
 4   Cholesterol     923 non-null    float64
 5   FastingBS       925 non-null    int64
 6   RestingECG      925 non-null    object
 7   MaxHR           925 non-null    int64
 8   ExerciseAngina  925 non-null    object
 9   Oldpeak         923 non-null    float64
 10  ST_Slope        924 non-null    object
 11  HeartDisease    925 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 86.8+ KB

#### 1) Bagi dataframe menjadi 2 bagian menggunakan teknik Data Split:
* Data Training dengan proporsi 70%
* Data Testing dengan proporsi 30%

##### Deklarasikan variabel yang menampung data dan label. Di sini saya menggunakan istilah variabel independen untuk data dan variabel dependen untuk label

In [252]:
varIndependen = dFrame[['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope']]
varDependen = dFrame['HeartDisease']

##### Berikut adalah syntax untuk membagi data training dan data testing menggunakan library scikit-learn. Pada parameter test_size isi dengan nilai .3 yang mengindikasikan bahwa proporsi data testing akan sebesar 30% dari dataframe

In [253]:
xTrain, xTest, yTrain, yTest = train_test_split(varIndependen, varDependen, test_size=.3)

##### Tampilkan jumlah data train, label train, data test, label test, dan total dataset yang dimiliki

In [254]:
print('Jumlah data train\t: %d Data' % len(xTrain),
      'Jumlah label train\t: %d Data' % len(yTrain),
      'Jumlah data test\t: %d Data' % len(xTest),
      'Jumlah label test\t: %d Data' % len(yTest),
      'Jumlah record\t\t: %d Data' % len(dFrame),
      sep='\n')

Jumlah data train	: 647 Data
Jumlah label train	: 647 Data
Jumlah data test	: 278 Data
Jumlah label test	: 278 Data
Jumlah record		: 925 Data

#### 2) Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler. Di sini saya akan mencoba menormalisasikan atribut MaxHR

##### Buat dataframe baru dengan menyalin dataframe sebelumnya untuk dilakukan proses normalisasi data. Karena saya hanya menggunakan 1 atribut, maka atribut yang tersisa perlu dihapus menggunakan fungsi drop

In [255]:
dfCopyNormalize = dFrame.copy()
dfCopyNormalize.drop(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'ExerciseAngina', 'Oldpeak', 'ST_Slope', 'HeartDisease'], axis=1, inplace=True)

##### Buat fungsi normalisasi data dengan menggunakan syntax dari Min Max Scaler

In [256]:
scaler = MinMaxScaler()

##### Lakukan proses penskalaan data menggunakan fungsi fit_transform

In [257]:
dsNormalize = scaler.fit_transform(dfCopyNormalize)

##### Ubah atribut yang telah ternormalisasi ke dalam bentuk dataframe

In [258]:
dfNormalized = pd.DataFrame(dsNormalize)

##### Kembalikan kolom yang ternormalisasi menjadi semula

In [259]:
dfNormalized.rename(columns={0:'MaxHR'}, inplace=True)

##### Tampilkan isi dataframe yang berisi atribut yang telah ternormalisasi

In [260]:
dfNormalized

        MaxHR
0    0.788732
1    0.676056
2    0.267606
3    0.338028
4    0.436620
..        ...
920  0.507042
921  0.570423
922  0.387324
923  0.802817
924  0.795775

[925 rows x 1 columns]

#### 3) Lakukan standarisasi pada dataset menggunakan Standard Scaler. Di sini saya menggunakan atribut RestingBP dan MaxHR sebagai contoh demonstrasi untuk Standarisasi Data

##### Salin dataframe asli ke dalam dataframe baru. Karena saya hanya menggunakan 2 atribut, maka atribut yang tersisa perlu dihapus menggunakan fungsi drop

In [261]:
dfCopyStandard = dFrame.copy()
dfCopyStandard.drop(['Age', 'Sex', 'ChestPainType', 'Cholesterol', 'FastingBS', 'RestingECG', 'ExerciseAngina', 'Oldpeak', 'ST_Slope', 'HeartDisease'], axis=1, inplace=True)

##### Deklarasi fungsi standarisasi data menggunakan syntax dari Standard Scaler

In [262]:
StandScal = StandardScaler()

##### Lakukan proses standarisasi data menggunakan fungsi fit_transform

In [263]:
dfStandard = StandScal.fit_transform(dfCopyStandard)

##### Tampilkan perbandingan sebelum dan sesudah dilakukan standarisasi data serta nilai standar deviasi masing-masing

In [264]:
print('Dataset sebelum standarisasi:',
      dfCopyStandard,
      f'Nilai standar deviasi:\n{np.std(dfCopyStandard)}',
      sep='\n', end='\n\n')

print('Dataset setelah standarisasi:',
      dfStandard,
      f'Nilai standar deviasi: {np.std(dfStandard)}',
      sep='\n')

Dataset sebelum standarisasi:
     RestingBP  MaxHR
0          140    172
1          160    156
2          130     98
3          138    108
4          150    122
..         ...    ...
920        110    132
921        144    141
922        130    115
923        130    174
924        138    173

[925 rows x 2 columns]
Nilai standar deviasi:
RestingBP    18.484719
MaxHR        25.468934
dtype: float64

Dataset setelah standarisasi:
[[ 0.40962981  1.38211836]
 [ 1.49160461  0.75390203]
 [-0.13135759 -1.52338214]
 ...
 [-0.13135759 -0.85590229]
 [-0.13135759  1.4606454 ]
 [ 0.30143233  1.42138188]]
Nilai standar deviasi: 1.0

#### 4) Lakukan Data Cleaning pada data dengan nilai null

##### Buat variabel baru untuk menampung dataframe lama dengan menyalin dataframe lama agar tidak mengganggu isi dari dataframe lama

In [265]:
dfCleaningNull = dFrame.copy()

##### Tampilkan informasi dari dataframe untuk mengetahui apakah terdapat nilai null atau tidak menggunakan fungsi isna().sum()

In [266]:
dfCleaningNull.isna().sum()

Age               0
Sex               0
ChestPainType     2
RestingBP         0
Cholesterol       2
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           2
ST_Slope          1
HeartDisease      0
dtype: int64

##### Buat fungsi cleaning menggunakan syntax dari Simple Imputer. Sesuaikan parameter strategy sesuai dengan keinginan. Misal ingin mengubah nilai null menjadi nilai modus maka gunakan parameter most_frequent

In [267]:
Mean = SimpleImputer(strategy = 'mean')
Median = SimpleImputer(strategy = 'median')
Modus = SimpleImputer(strategy = 'most_frequent')

##### Lakukan proses data cleaning sesuai dengan tipe data dari tiap atribut. Untuk ketentuan strategy yang diterapkan adalah sebagai berikut:
* Bilangan Bulat: Median/Modus
* Bilangan Desimal: Mean
* Tulisan: Modus

In [268]:
dfCleaningNull['ChestPainType'] = Modus.fit_transform(dfCleaningNull[['ChestPainType']])
dfCleaningNull['Cholesterol'] = Median.fit_transform(dfCleaningNull[['Cholesterol']])
dfCleaningNull['Oldpeak'] = Mean.fit_transform(dfCleaningNull[['Oldpeak']])
dfCleaningNull['ST_Slope'] = Modus.fit_transform(dfCleaningNull[['ST_Slope']])

##### Tampilkan hasil pembersihan data menggunakan isna().sum() untuk mengevaluasi apakah proses pembersihan berhasil atau gagal

In [269]:
dfCleaningNull.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

#### 5) Lakukan Data Cleaning pada data dengan nilai duplikat

##### Buat variabel baru untuk menampung dataframe lama dengan menyalin dataframe lama agar tidak mengganggu isi dari dataframe lama

In [270]:
dfCleaningDuplicate = dFrame.copy()

##### Tampilkan informasi dari dataframe untuk mengetahui apakah terdapat nilai duplikat atau tidak menggunakan fungsi duplicated().sum()

In [271]:
print('Jumlah data yang terduplikasi: %d record' % dfCleaningDuplicate.duplicated().sum())

Jumlah data yang terduplikasi: 3 record

##### Lakukan proses data cleaning dengan cara menghapus data yang terduplikasi dengan fungsi drop_duplicates()

In [272]:
dfCleaningDuplicate.drop_duplicates(inplace=True)

##### Tampilkan informasi dari dataframe untuk mengetahui apakah terdapat nilai duplikat atau tidak setelah melakukan proses data cleaning

In [273]:
print('Jumlah data yang terduplikasi: %d record' % dfCleaningDuplicate.duplicated().sum())

Jumlah data yang terduplikasi: 0 record

#### 6) Ubah salah satu atribut pada dataframe yang memiliki tipe data berupa angka. Di sini saya akan menggunakan atribut MaxHR sebagai contoh demonstrasi perubahan tipe data suatu atribut

##### Lakukan duplikasi dataframe agar tidak mengganggu dataframe yang asli. Karena saya menggunakan 1 atribut saja, maka atribut yang lain akan dihapus

In [274]:
dfChangeType = dFrame.copy()
dfChangeType.drop(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'ExerciseAngina', 'Oldpeak', 'ST_Slope', 'HeartDisease'], axis=1, inplace=True)

##### Tampilkan informasi dataframe sebelum dilakukan perubahan tipe data

In [275]:
dfChangeType.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MaxHR   925 non-null    int64
dtypes: int64(1)
memory usage: 7.4 KB

##### Lakukan proses perubahan tipe data pada atribut yang dipilih menggunakan fungsi astype(). Karena saya ingin mengubah tipe data bilangan bulat menjadi bilangan desimal, maka parameter astype() akan diisi dengan 'float64'

In [276]:
dfChangeType = dfChangeType.astype("float64")

##### Tampilkan hasil perubahan tipe data menggunakan fungsi info()

In [277]:
dfChangeType.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MaxHR   925 non-null    float64
dtypes: float64(1)
memory usage: 7.4 KB

#### 7) Lakukan one hot encoding pada dataset yang dimiliki. Di sini saya akan memberikan contoh demonstrasi berupa penambahan atribut dengan membagi atribut yang menjadi label ke dalam 2 bentuk, yakni Normal Heart dan Heart Disease

##### Duplikat dataframe asli menjadi dataframe baru untuk dilakukan proses one hot encoding

In [278]:
dfEncode = dFrame.copy()

##### Deklarasikan fungsi encoder menggunakan syntax dari one hot encoding

In [279]:
encoder = OneHotEncoder(sparse=False)

##### Buat variabel untuk menampung sementara dataset hasil encoding menggunakan fungsi fit_transform(). Di sini saya mengubah tipe data pada atribut label menjadi tipe data int64

In [280]:
dsTemp = encoder.fit_transform(dfEncode[['HeartDisease']]).astype('int64')

##### Lakukan reformat pada dataset yang telah di-encode ke dalam bentuk dataframe

In [281]:
dsTemp = pd.DataFrame(dsTemp)

##### Hapus atribut label pada dataframe sebelumnya

In [282]:
dfEncode.drop('HeartDisease', axis=1, inplace=True)

##### Gabungkan dataframe sebelumnya dengan dataframe hasil encoding

In [283]:
dfEncode = dfEncode.join(dsTemp)

##### Tampilkan dataframe hasil gabungan antara dataframe sebelumnya dengan dataframe hasil encoding. Tak lupa untuk mengubah nama atribut label hasil encoding dengan fungsi rename

In [284]:
dfEncode.rename(columns={0:'Normal_Heart', 1:'Heart_Disease'})

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Normal_Heart,Heart_Disease
0,40,M,ATA,140,289.0,0,Normal,172,N,0.0,Up,1,0
1,49,F,NAP,160,180.0,0,Normal,156,N,1.0,Flat,0,1
2,37,M,ATA,130,283.0,0,ST,98,N,0.0,Up,1,0
3,48,F,ASY,138,214.0,0,Normal,108,Y,1.5,Flat,0,1
4,54,M,NAP,150,195.0,0,Normal,122,N,0.0,Up,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,45,M,TA,110,NaN,0,Normal,132,N,1.2,Flat,0,1
921,68,M,ASY,144,193.0,1,Normal,141,N,NaN,Flat,0,1
922,57,M,NaN,130,NaN,0,Normal,115,Y,NaN,NaN,0,1
923,57,F,ATA,130,236.0,0,LVH,174,N,0.0,Flat,0,1
924,38,M,NAP,138,175.0,0,Normal,173,N,0.0,Up,1,0