# POSTTEST 8 - Modul Deep Learning
#### Nama : Jorghi Inzaghi Tanson
#### NIM    : 2009106069

#### Import Library yang diperlukan

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

#### Inisialisasi variabel untuk menampung dataset menggunakan DataFrame dan tampilkan isi variabel

In [2]:
dFrame = pd.read_csv('heart_cleaned.csv')
dFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             921 non-null    int64
 1   Sex             921 non-null    object
 2   ChestPainType   921 non-null    object
 3   RestingBP       921 non-null    int64
 4   Cholesterol     921 non-null    int64
 5   FastingBS       921 non-null    int64
 6   RestingECG      921 non-null    object
 7   MaxHR           921 non-null    int64
 8   ExerciseAngina  921 non-null    object
 9   Oldpeak         921 non-null    float64
 10  ST_Slope        921 non-null    object
 11  HeartDisease    921 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 86.5+ KB

#### Pada dataset, terlihat bahwa terdapat nilai dengan tipe data objek. Jika terdapat tipe data tersebut, maka proses pelatihan data akan terganggu, sehingga menimbulkan error. Maka dari itu, perlu dilakukan preprocessing data. Di sini saya mencoba menggunakan Encoding untuk mengganti nilai-nilai bertipe data objek menjadi tipe data angka

In [3]:
varEncoder = OrdinalEncoder()
dFrame['Sex'] = varEncoder.fit_transform(dFrame[['Sex']])
dFrame['ChestPainType'] = varEncoder.fit_transform(dFrame[['ChestPainType']])
dFrame['RestingECG'] = varEncoder.fit_transform(dFrame[['RestingECG']])
dFrame['ExerciseAngina'] = varEncoder.fit_transform(dFrame[['ExerciseAngina']])
dFrame['ST_Slope'] = varEncoder.fit_transform(dFrame[['ST_Slope']])
dFrame['HeartDisease'] = varEncoder.fit_transform(dFrame[['HeartDisease']])

#### Tampilkan dataset hasil encoding

In [4]:
dFrame

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1.0,1.0,140,289,0,1.0,172,0.0,0.000000,2.0,0.0
1,49,0.0,2.0,160,180,0,1.0,156,0.0,1.000000,1.0,1.0
2,37,1.0,1.0,130,283,0,2.0,98,0.0,0.000000,2.0,0.0
3,48,0.0,0.0,138,214,0,1.0,108,1.0,1.500000,1.0,1.0
4,54,1.0,2.0,150,195,0,1.0,122,0.0,0.000000,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
916,57,0.0,1.0,130,236,0,0.0,174,0.0,0.000000,1.0,1.0
917,38,1.0,2.0,138,175,0,1.0,173,0.0,0.000000,2.0,0.0
918,45,1.0,3.0,110,223,0,1.0,132,0.0,1.200000,1.0,1.0
919,68,1.0,0.0,144,193,1,1.0,141,0.0,0.885157,1.0,1.0
920,57,1.0,0.0,130,223,0,1.0,115,1.0,0.885157,1.0,1.0

#### Tentukan atribut yang akan dijadikan sebagai record dan label. Di sini saya menggunakan istilah variabel independen untuk record dan variabel dependen untuk label

In [5]:
varIndependen = dFrame[['Age',
                        'Sex',
                        'ChestPainType',
                        'RestingBP',
                        'Cholesterol',
                        'FastingBS',
                        'RestingECG',
                        'MaxHR',
                        'ExerciseAngina',
                        'Oldpeak',
                        'ST_Slope']]
varDependen = dFrame[['HeartDisease']]

#### Bagi data train pada variabel independen menjadi data train dan data test. Di sini saya menggunakan proporsi 70:30 (70% Data train dan 30% Data test)

In [6]:
xTrain, xTest, yTrain, yTest = train_test_split(varIndependen,
                                                varDependen,
                                                test_size=.3)

#### Pada label yang telah ditentukan, lakukan proses konversi kelas vektor (bilangan integer) ke matriks kelas biner menggunakan fungsi utils pada library keras. Di sini saya menetapkan jumlah kelas sebesar 2 (sesuaikan dengan jumlah kelas yang dimiliki dataset)

In [7]:
jumlahKelas = 2
yTrain = tf.keras.utils.to_categorical(yTrain, jumlahKelas)
yTest = tf.keras.utils.to_categorical(yTest, jumlahKelas)

#### Buat model sequential dengan total layer sebanyak 5 layer menggunakan aktivasi relu pada 4 layer pertama dan aktivasi sigmoid pada layer terakhir, lalu tampilkan model tersebut dengan fungsi summary()

In [8]:
modelSeq = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_dim=11),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(jumlahKelas, activation='sigmoid')
])
modelSeq.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                192

 dense_1 (Dense)             (None, 32)                544

 dense_2 (Dense)             (None, 32)                1056

 dense_3 (Dense)             (None, 16)                528

 dense_4 (Dense)             (None, 2)                 34

=================================================================
Total params: 2,354
Trainable params: 2,354
Non-trainable params: 0
_________________________________________________________________

#### Lakukan proses compile terhadap model yang telah dibuat. Di sini saya menggunakan optimizer adam, loss jenis cross-entropy, dan metrics accuracy

In [9]:
modelSeq.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.categorical_crossentropy,
    metrics=['accuracy']
)

#### Lakukan proses model training dengan cara fitting. Masukkan parameter yang diinginkan di dalam fungsi fitting tersebut. Di sini saya menggunakan parameter x dan y untuk menginput data training, validation data yang berisi data testing dari masing-masing variabel, epochs dengan jumlah 20 iterasi, steps_per_epoch dengan jumlah 46 langkah, dan verbose dengan jenis 2 yang berarti tidak menampilkan animasi steps_per_epoch

In [10]:
trainingProcess = modelSeq.fit(
    x = xTrain,
    y = yTrain,
    validation_data = (xTest, yTest),
    epochs = 20,
    steps_per_epoch = 46,
    verbose = 2
)

Epoch 1/20
46/46 - 1s - loss: 0.6697 - accuracy: 0.6506 - val_loss: 0.8822 - val_accuracy: 0.5704 - 595ms/epoch - 13ms/step
Epoch 2/20
46/46 - 0s - loss: 0.7757 - accuracy: 0.6351 - val_loss: 0.6343 - val_accuracy: 0.6606 - 72ms/epoch - 2ms/step
Epoch 3/20
46/46 - 0s - loss: 0.6279 - accuracy: 0.6366 - val_loss: 0.7297 - val_accuracy: 0.6498 - 73ms/epoch - 2ms/step
Epoch 4/20
46/46 - 0s - loss: 0.6258 - accuracy: 0.6724 - val_loss: 0.6935 - val_accuracy: 0.6209 - 66ms/epoch - 1ms/step
Epoch 5/20
46/46 - 0s - loss: 0.5789 - accuracy: 0.6957 - val_loss: 0.5802 - val_accuracy: 0.7184 - 64ms/epoch - 1ms/step
Epoch 6/20
46/46 - 0s - loss: 0.5730 - accuracy: 0.6879 - val_loss: 0.5995 - val_accuracy: 0.7220 - 64ms/epoch - 1ms/step
Epoch 7/20
46/46 - 0s - loss: 0.5884 - accuracy: 0.6910 - val_loss: 0.6060 - val_accuracy: 0.6931 - 65ms/epoch - 1ms/step
Epoch 8/20
46/46 - 0s - loss: 0.5667 - accuracy: 0.7329 - val_loss: 0.5730 - val_accuracy: 0.7329 - 63ms/epoch - 1ms/step
Epoch 9/20
46/46 - 0s - loss: 0.5686 - accuracy: 0.7298 - val_loss: 0.6727 - val_accuracy: 0.6390 - 68ms/epoch - 1ms/step
Epoch 10/20
46/46 - 0s - loss: 0.5735 - accuracy: 0.7112 - val_loss: 0.5671 - val_accuracy: 0.7401 - 65ms/epoch - 1ms/step
Epoch 11/20
46/46 - 0s - loss: 0.5532 - accuracy: 0.7174 - val_loss: 0.5651 - val_accuracy: 0.7545 - 63ms/epoch - 1ms/step
Epoch 12/20
46/46 - 0s - loss: 0.5151 - accuracy: 0.7748 - val_loss: 0.5822 - val_accuracy: 0.7437 - 65ms/epoch - 1ms/step
Epoch 13/20
46/46 - 0s - loss: 0.5128 - accuracy: 0.7516 - val_loss: 0.5454 - val_accuracy: 0.7437 - 66ms/epoch - 1ms/step
Epoch 14/20
46/46 - 0s - loss: 0.5138 - accuracy: 0.7624 - val_loss: 0.5699 - val_accuracy: 0.7437 - 64ms/epoch - 1ms/step
Epoch 15/20
46/46 - 0s - loss: 0.5180 - accuracy: 0.7562 - val_loss: 0.5870 - val_accuracy: 0.7076 - 66ms/epoch - 1ms/step
Epoch 16/20
46/46 - 0s - loss: 0.5035 - accuracy: 0.7671 - val_loss: 0.5387 - val_accuracy: 0.7690 - 66ms/epoch - 1ms/step
Epoch 17/20
46/46 - 0s - loss: 0.4839 - accuracy: 0.7686 - val_loss: 0.5330 - val_accuracy: 0.7726 - 64ms/epoch - 1ms/step
Epoch 18/20
46/46 - 0s - loss: 0.4755 - accuracy: 0.7826 - val_loss: 0.5189 - val_accuracy: 0.7834 - 67ms/epoch - 1ms/step
Epoch 19/20
46/46 - 0s - loss: 0.4848 - accuracy: 0.7826 - val_loss: 0.5744 - val_accuracy: 0.7726 - 64ms/epoch - 1ms/step
Epoch 20/20
46/46 - 0s - loss: 0.4650 - accuracy: 0.8075 - val_loss: 0.5236 - val_accuracy: 0.7690 - 66ms/epoch - 1ms/step

#### Simpan model yang telah dibuat

In [12]:
modelSeq.save('model/seq_1.h5')